/*
body{

    margin: 0;
}
.header{

    background-color: #572b2b;
}

#fist-tit{

    font-size: 5rem;
}*/

body{

    background-color: blanchedalmond;


    font-family: Trebuchet MS, sans-serif;
    text-align: center;

    margin: 0px;

}
header{

    background-color: darkgoldenrod;
    margin: 0px;
    padding: 30px;
    margin-bottom: 10px;
}

article{

    text-align: left;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
    
}